*{
  margin: 0px;
  padding: 0px;
}

.text-home{
  color: white;
} 
#banner-style{
  width: 100%;
  height: 300px;
  background-image: url(../src/assets/pizza-banner.jpg) ;
  background-size: cover;

}
 .text-banner{
  
font-size: 2.6rem;
color: white;
text-align: center;


}

.img-banner{
display: block;
margin: auto;
width: 100%;
height: 300px;
max-width: 100%;
position: relative;
overflow: hidden;
}
.cardsGrup{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items: center;
justify-content: center;

  
}

.cards{
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
 

}
.imgPizza{
  max-width: 100%;
}

.boton{
margin-right: 20px;
}

.size-img-detail{
  width: 100%;
}
.img-detail{
  width: 100%;
  height: 50%;
}